
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<section id="categories">
    <div class="container my-3 py-5">
        <div class="row my-5">
            <div class="col text-center">
                <a href="#" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:bowl-food"></iconify-icon>
                    <h5>Foodies</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="#" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:bird"></iconify-icon>
                    <h5>Bird Shop</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="#" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:dog"></iconify-icon>
                    <h5>Dog Shop</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="#" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:fish"></iconify-icon>
                    <h5>Fish Shop</h5>
                </a>
            </div>
            <div class="col text-center">
                <a href="#" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:cat"></iconify-icon>
                    <h5>Cat Shop</h5>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="clothing" class="my-5 overflow-hidden">
    <div class="container pb-5">

        <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
            <h2 class="display-3 fw-normal">Pet Clothing</h2>
            <div>
                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                    shop now
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="products-carousel swiper">
            <div class="swiper-wrapper">
                @foreach (var product in Model)
                {
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.idProduct">
                                <img src="@Url.Content("~/images/" + product.Image)" class="img-fluid " alt="@product.nameProduct">
                            </a>
                            <div class="card-body p-0">
                                <a href="@Url.Action("Details", "Product", new { id = product.idProduct })">
                                    <h3 class="card-title pt-4 m-0">@product.nameProduct</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">@product.sellPrice.ToString("C")</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="@Url.Action("AddToCart", "Cart", new { id = product.idProduct })" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Add to Cart</h5>
                                        </a>
                                        <a href="@Url.Action("AddToWishlist", "Wishlist", new { id = product.idProduct })" class="btn-wishlist px-4 pt-3">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- / products-carousel -->


    </div>
</section>
