@model IEnumerable<WebThuCung.Dto.ProductViewDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<section id="categories">
    <div class="container my-3 py-5">
        <div class="row my-5">
            <div class="col text-center">
                <a asp-controller="Product" asp-action="SearchByPet" asp-route-petname="Bird" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:bird"></iconify-icon>
                    <h5>Bird Shop</h5>
                </a>
            </div>
            <div class="col text-center">
                <a asp-controller="Product" asp-action="SearchByPet" asp-route-petname="Dog" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:dog"></iconify-icon>
                    <h5>Dog Shop</h5>
                </a>
            </div>
            <div class="col text-center">
                <a asp-controller="Product" asp-action="SearchByPet" asp-route-petname="Fish" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:fish"></iconify-icon>
                    <h5>Fish Shop</h5>
                </a>
            </div>
            <div class="col text-center">
                <a asp-controller="Product" asp-action="SearchByPet" asp-route-petname="Cat" class="categories-item">
                    <iconify-icon class="category-icon" icon="ph:cat"></iconify-icon>
                    <h5>Cat Shop</h5>
                </a>
            </div>
        </div>
    </div>
</section>



<div id="productResults">
<section id="clothing" class="my-5 overflow-hidden">
    <div class="container pb-5">

        <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
            <h2 class="display-3 fw-normal">Pet Clothing</h2>
            <div>
                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                    shop now
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="products-carousel swiper">
            <div class="swiper-wrapper">
                @foreach (var product in Model.Take(6))
                {
                    // Kiểm tra xem sản phẩm đã lưu hay chưa
                    bool isSaved = ViewBag.SavedProductIds != null &&
                    ViewBag.SavedProductIds.Contains(product.idProduct);

                    <div class="swiper-slide" data-productid="@product.idProduct">
                        <div class="card position-relative">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.idProduct">
                                <img src="@Url.Content("~/images/" + product.Image)" class="img-fluid rounded-4" alt="@product.nameProduct">
                            </a>
                            <div class="card-body p-0">
                                <a href="@Url.Action("Details", "Product", new { id = product.idProduct })">
                                    <h3 class="card-title pt-4 m-0">@product.nameProduct</h3>
                                </a>

                                <div class="card-text">
                                    <h3 class="secondary-font text-primary">@product.sellPrice.ToString("C")</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a class="btn-wishlist px-4 pt-3 toggle">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5" style="color: @(isSaved ? "black" : "rgb(162, 162, 162)")"></iconify-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- / products-carousel -->


    </div>
</section>
    <section id="foodies" class="my-5">
        <div class="container my-5 py-5">

            <div class="section-header d-md-flex justify-content-between align-items-center">
                <h2 class="display-3 fw-normal">Pet Foodies</h2>
                <div class="mb-4 mb-md-0">
                    <p class="m-0">
                        <button class="filter-button me-4 active" data-filter="*">ALL</button>
                        <button class="filter-button me-4" data-filter=".cat">CAT</button>
                        <button class="filter-button me-4" data-filter=".dog">DOG</button>
                        <button class="filter-button me-4" data-filter=".bird">BIRD</button>
                    </p>
                </div>
                <div>
                    <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                        shop now
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="isotope-container row">

                @foreach (var product in Model.Take(8))
                {
                    bool isSaved = ViewBag.SavedProductIds != null &&
                    ViewBag.SavedProductIds.Contains(product.idProduct);

                    <div class="item col-md-4 col-lg-3 my-4" data-productid="@product.idProduct">
                        <div class="card position-relative">
                            <a href="@Url.Action("Detail", "Product", new { id = product.idProduct })">
                                <img src="@Url.Content("~/images/" + product.Image)" class="img-fluid rounded-4" alt="@product.nameProduct">
                            </a>
                            <div class="card-body p-0">
                                <a href="@Url.Action("Detail", "Product", new { id = product.idProduct })">
                                    <h3 class="card-title pt-4 m-0">@product.nameProduct</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        }
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">@product.sellPrice.ToString("C")</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Add to Cart</h5>
                                        </a>
                                        <a class="btn-wishlist px-4 pt-3 toggle">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5" style="color: @(isSaved ? "black" : "rgb(162, 162, 162)")"></iconify-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.filter-categories').change(function () {
        var idCategory = $(this).val();

        $.ajax({
            url: '/Product/ProductByCategory',
            type: 'GET',
            data: { idCategory: idCategory },
            success: function (result) {
                // Đổ dữ liệu PartialView vào phần tử kết quả
                $('#productResults').html(result);
                
                // Đếm số sản phẩm vừa được load lên và hiển thị trên console
                var productCount = $('#productResults .swiper-slide').length;
                console.log("Number of products loaded: " + productCount);
                    new Swiper('.products-carousel', {
                        loop: true,
                        slidesPerView: 4,
                        spaceBetween: 30,
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        }
                    });
            },
            error: function () {
                alert("Failed to load products. Please try again.");
            }
        });
    });
});


    function filterByCategory() {
        const selectedCategory = document.getElementById("categoryDropdown").value;
        // Điều hướng đến hành động Index của Controller với idCategory = "" nếu chọn "Shop by Category"
        window.location.href = `/ControllerName/Index?idCategory=${selectedCategory}`;
    }

</script>
@* <script>
    $(document).ready(function () {
        // Hàm để gọi API lọc sản phẩm
        function filterProducts() {
            var petName = $('.categories-item.active').data('pet-name'); // Lấy tên thú cưng hiện tại (nếu có)
            var categoryId = $('#categoryDropdown').val(); // Lấy giá trị danh mục hiện tại

            $.ajax({
                url: '@Url.Action("FilterProducts", "Product")',
                type: 'GET',
                data: { namePet: petName, idCategory: categoryId },
                success: function (data) {
                    $('#productResults').html(data); // Cập nhật nội dung sản phẩm
                    var productCount = $('#productResults .swiper-slide').length;
                    console.log("Number of products loaded: " + productCount);
                    new Swiper('.products-carousel', {
                        loop: true,
                        slidesPerView: 4,
                        spaceBetween: 30,
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        // Xử lý sự kiện click trên các liên kết thú cưng
        $('.categories-item').click(function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của liên kết
            $('.categories-item').removeClass('active'); // Xóa lớp active khỏi tất cả
            $(this).addClass('active'); // Thêm lớp active vào phần tử hiện tại

            // Gọi hàm để lọc sản phẩm
            filterProducts(); // Gọi hàm để lọc sản phẩm
        });

        // Xử lý sự kiện thay đổi dropdown danh mục
        $('#categoryDropdown').change(function () {
            // Gọi hàm để lọc sản phẩm
            filterProducts(); // Gọi hàm để lọc sản phẩm
        });
    });
</script> *@



<script>
    $(document).ready(function () {
        $('.toggle').on('click', function (e) {
            e.preventDefault(); // Ngăn trang tải lại

            var $this = $(this); // Phần tử được nhấn
            var icon = $this.find('iconify-icon'); // Tìm phần tử icon bên trong .toggle
            var idproduct = $this.closest('.swiper-slide').data('productid'); // Lấy ID sản phẩm

            $.ajax({
                url: '/Product/SaveProduct', // Đường dẫn đến action lưu sản phẩm
                type: 'POST',
                data: { idproduct: idproduct },
                success: function (response) {
                    if (response.success) {
                        alert(response.message); // Hiển thị thông báo từ phản hồi

                        // Thay đổi màu sắc dựa trên trạng thái sản phẩm
                        if (icon.css('color') === 'rgb(162, 162, 162)') {
                            icon.css('color', 'black'); // Đổi màu sang đen nếu sản phẩm được lưu
                        } else {
                            icon.css('color', 'rgb(162, 162, 162)'); // Đổi màu xám nếu sản phẩm bị xóa
                        }
                    } else {
                        if (response.message === "Please log in to save products.") {
                            // Chuyển hướng nếu người dùng chưa đăng nhập
                            window.location.href = '/User/Login';
                        } else {
                            alert(response.message); // Hiển thị thông báo lỗi khác
                        }
                    }
                },
                error: function () {
                    alert('An error occurred while saving the product.');
                }
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const categoriesItems = document.querySelectorAll('.categories-item');

        categoriesItems.forEach(item => {
            item.addEventListener('click', function () {
                const petName = item.getAttribute('data-pet-name');
                window.location.href = `/Product/SearchByPet?petId=${petName}`;
            });
        });
    });
 
</script>
